.nav {
	background: #339999;
	color: white;
	display: grid;
	font-family: 'Constantia', sans-serif;
	font-size: 20px;
	grid-template-columns: 3fr  1fr;
	margin: -1rem;
	padding: 1em;
}
.nav2 {
	color: white;
	display: grid;
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
	grid-template-columns: repeat(4, 100px);
	margin-top: 1em;
	text-align: right;
}
.nav2 a{
	color: white;
	text-decoration: none;

}
.nav2 a:hover {
	transition: 0.6s;
	color: #f6ad5d;
}
.about{
	margin: -1rem;
	padding-bottom: 18em;
}
.about img{
	width: 100%;
	max-height: 400px;
	object-fit: none;
}
.about1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	margin-top: -7em;
	text-align: center;
	text-shadow: 2px 2px black;
	z-index: 2;
}
.container{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.email-box{
	height: 40px;
	display: flex;
	justify-content: center;
}
.email-box svg{
	background: #2f3542;
	width: 60px;
	line-height: 3;
	color: white;
}
.tbox,.button {
	border: none;
	outline: none;
}
.tbox {
	transition: 0.4s;
	width: 0px;
	
}
.email-box:hover >.tbox,.tbox:focus {
	transition: 0.4s;
	padding: 0 10px;
	width: 260px;
}
.button{
	background: #2f3542;
	color: white;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
}
.description {
	display: grid;
	justify-content: center;
}
.description p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: left;
	line-height: 2;
	width: 600px;
}
@media screen and (min-width: 1px) {
	.nav {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
	}
	.nav2 {
		display: grid;
		justify-content: center;
	}
	.about1 {
		font-size: 30px;
	}
	.description {
		margin-top: -8em;
	}
	.description p {
		width: 400px;
	}
}
@media screen and (min-width: 900px) {
	.nav {
	background: #339999;
	color: white;
	display: grid;
	font-family: 'Constantia', sans-serif;
	font-size: 20px;
	grid-template-columns: 3fr  1fr;
	margin: -1rem;
	padding: 1em;
	text-align: left;
}
.nav2 {
	color: white;
	display: grid;
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
	grid-template-columns: repeat(4, 100px);
	margin-top: 1em;
	text-align: right;
}
.nav2 a:hover {
	transition: 0.6s;
	color: #f6ad5d;
}
.about1 {
	font-size: 50px;
}
.description {
	display: grid;
	justify-content: center;
}
.description p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: left;
	line-height: 2;
	width: 600px;
}
}